// SCSS variables for the site. Like a CSS config file.


// Site colours (text, backgrounds etc.) 
$color-bg: #111;
$color-copy: #fff;


// Font sizing
$font-size-regular: 30px;
$font-size-small: 20px;
$font-size-large: 120px;

// Fonts 
$font-family-regular: 'Roboto', sans-serif;

// Layout
$padding: 30px;
