html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

body {
	background: $color-bg;
	color: $color-copy;
	font-family: $font-family-regular;
	font-size: $font-size-regular;
}

ul {
	@extend %list-reset;
}
